/*finns debug wand!*/
*{
  /* outline: 2px solid greenyellow; */
}

/*FONTS*/

/*LT Wave*/
/*proportional*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: normal;
  font-style: normal;
  src: url('./_assets/fonts/LTWaveText-Regular.otf') format('opentype');
}

/*italic*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: normal;
  font-style: italic;
  src: url('./_assets/fonts/LTWaveText-Italic.otf') format('opentype');
}

/*bold*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: bold;
  font-style: normal;
  src: url('./_assets/fonts/LTWaveText-Bold.otf') format('opentype');
}

/*bold italic*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: bold;
  font-style: italic;
  src: url('./_assets/fonts/LTWaveText-BoldItalic.otf') format('opentype');
}

/*monotype*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: normal;
  font-style: normal;
  src: url('./_assets/fonts/LTWaveMono-Regular.otf') format('opentype');
}

/*italic*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: normal;
  font-style: italic;
  src: url('./_assets/fonts/LTWaveMono-Italic.otf') format('opentype');
}

/*bold*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: bold;
  font-style: normal;
  src: url('./_assets/fonts/LTWaveMono-Bold.otf') format('opentype');
}

/*bold italic*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: bold;
  font-style: italic;
  src: url('./_assets/fonts/LTWaveMono-BoldItalic.otf') format('opentype');
}

/*Header*/
@font-face {
  font-family: 'LTWaveUI';
  font-weight: normal;
  font-style: normal;
  src: url('./_assets/fonts/LTWaveUI-Medium.otf') format('opentype');
}

:root {
  --white: #F0FDFD;
  --black: #1F1300;
  --purple: #8000AF;
  --orange: #F69220;
  --red: #F01824;
  --magenta: #F21587;
  --pink: #FFBBD8;
  --green: #c1ea76;
  --yellow: #FDF00E;
  --blue: #72D2F8;

  --transpurple: #8000AF20;
  --transorange: #F69220a0;
  --transred: #F01824a0;
  --transmagenta: #F21587a0;
  --transpink: #ffbbd8a0;
  --transgreen: #c1ea76a0;
  --transyellow: #fdf10ea0;
  --transblue: #72d2f8a0;


  /*GENERAL TEXT OPTIONS*/
  /* font-family: 'LTWaveMono'; */
  font-family: 'LTWaveText';
  color: var(--purple);
}

html {
  margin: 0;
  padding: 0;
  gap: 0;
  height: 100%;
  background-color: var(--white);
  box-sizing: border-box;
}

body {
  color: var(--white);
  background: none;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#matrix{
  z-index: -1;
  position: fixed;
}


/*HEADER STYLES*/
header {
  margin-bottom: auto;
  margin-right: auto;

  padding: 10px 0 0 10px;

  width: fit-content;
  color: var(--purple);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: start;
}

#container {
  margin: 2% 3%;
  padding: 20px;
  align-self: center;
  width: auto;

  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: auto auto 1fr;

  grid-template-areas:
    "on-air center chat"
    "nav center chat"
    "nav center events";

  gap: 10px;
}


/*BLOCK*/
.card{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  color: var(--white);
}

h3 {
  padding: 0 5px;
  font-family: 'LTWaveUI';
  /* width: fit-content; */
  text-align: center;
  border: 0.25rem solid;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
  margin: 0;
}

.block{
  color: var(--white);
  width: auto;
  background-color: #8000af2d;
  border: 0.5rem double var(--white);
  border-radius: 0 0px 20px 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul {
  list-style: disc inside;
  user-select: none;
  margin: 0 10px 0 0;
  padding: 0 10px;
}

/*LEFT COLUMN STYLES*/
#on-air-tab{
  /* color:var(--white); */
  border-color: var(--red);
  background: var(--red);
}

#on-air{
  grid-area: on-air;
  /* color: var(--black); */
  height: fit-content;
  border-color: var(--red);
  background-color: var(--transred);
  /* padding-left: 10px; */
}

#on-air li::marker{
  color: var(--red);
}

/* nav */
#navbar{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#info-tab{
  /* color:var(--white); */
  border-color: var(--magenta);
  background: var(--magenta);
}

#info{
  /* color: var(--black); */
  height: fit-content;
  border-color: var(--magenta);
  background-color: var(--transmagenta);
  /* padding-left: 10px; */
}

#info li::marker{
  color: var(--magenta);
}

#program-tab{
  /* color:var(--white); */
  border-color: var(--pink);
  background: var(--pink);
}

#program{
  /* color: var(--black); */
  height: fit-content;
  border-color: var(--pink);
  background-color: var(--transpink);
  /* padding-left: 10px; */
}

#program li::marker{
  color: var(--pink);
}

#sports-tab{
  /* color:var(--white); */
  border-color: var(--green);
  background: var(--green);
}

#sports{
  /* color: var(--black); */
  height: fit-content;
  border-color: var(--green);
  background-color: var(--transgreen);
  /* padding-left: 10px; */
}

#sports li::marker{
  color: var(--green);
}

#media-tab{
  /* color:var(--white); */
  border-color: var(--blue);
  background: var(--blue);
}

#media{
  /* color: var(--black); */
  height: fit-content;
  border-color: var(--blue);
  background-color: var(--transblue);
  /* padding-left: 10px; */
}

#media li::marker{
  color: var(--blue);
}



/*CENTER COLUMN STYLES*/
#center {
  grid-area: center;
  display: flex;
  flex-direction: column;
  background-color: var(--transpurple);
  border: 0.5rem double var(--purple);
  border-radius: 20px;
}


/*RIGHT COLUMN STYLES*/
/* #weather{
  padding: 0;
  grid-area: weather;
  width: 100%;
  height: auto;
  border-radius: 20px;
} */

#chat-card{
grid-area: chat;
}

#chat-tab{
  border-radius: 20px 20px 0 0;
  background-color: var(--yellow);
  border-color: var(--yellow);
}

#chat{
  width: auto;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  border: 0.5rem double var(--yellow);
  border-radius: 0 0 20px 20px;
  background-color: var(--transyellow);
}


#chattable {
  width: 100%;
  min-height: 300px;
}

#bulletin-tab{
  /* color:var(--white); */
  border-color: var(--orange);
  background: var(--orange);
}

#bulletin {
  background-color: var(--transorange);
  border-color: var(--orange);
  grid-area: events;
  height: 100%;
  width: auto;
}

/*FOOTER STYLES*/
footer {
  margin: auto 0 0 auto;

  width: auto;
  height: fit-content;

  color: var(--black);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 10px 0;
  gap: 30px;
}
footer a{
  color: var(--black);
}
.social {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_link{
    text-decoration: none;
    /* text-shadow: 0 1px 3px rgba(233,77,71,0.75); */
}

.social_tag{
    text-decoration: underline;
}

.social_icon {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    vertical-align: middle;
}

#telephone {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-left: auto; */
}

/*LINK STYLES */
 /* mouse over link  */
a {
  color: var(--white);
}
a:hover {
color: var(--yellow);
}

 /* selected link  */
a:active {
color: var(--transyellow);
}

 /* unvisited link  */
/* a:link {
color: var(--neon);
} */
