/*the debug wand!*/
*{
  /* outline: 2px solid red; */
}

/*FONTS*/

/*LT Wave*/
/*proportional*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/LTWaveText-Regular.otf') format('opentype');
}

/*italic*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: normal;
  font-style: italic;
  src: url('./assets/fonts/LTWaveText-Italic.otf') format('opentype');
}

/*bold*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/LTWaveText-Bold.otf') format('opentype');
}

/*bold italic*/
@font-face {
  font-family: 'LTWaveText';
  font-weight: bold;
  font-style: italic;
  src: url('./assets/fonts/LTWaveText-BoldItalic.otf') format('opentype');
}

/*monotype*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/LTWaveMono-Regular.otf') format('opentype');
}

/*italic*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: normal;
  font-style: italic;
  src: url('./assets/fonts/LTWaveMono-Italic.otf') format('opentype');
}

/*bold*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/LTWaveMono-Bold.otf') format('opentype');
}

/*bold italic*/
@font-face {
  font-family: 'LTWaveMono';
  font-weight: bold;
  font-style: italic;
  src: url('./assets/fonts/LTWaveMono-BoldItalic.otf') format('opentype');
}

/*Header*/
@font-face {
  font-family: 'LTWaveUI';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/LTWaveUI-Medium.otf') format('opentype');
}

:root {
  --purple: #8000AF;
  --white: #F0FDFD;
  --orange: #F69220;
  --red: #F01824;
  --magneta: #F21587;
  --pink: #FFBBD8;
  --green: #c1ea76;
  --blue: #72D2F8;
  --black: #1F1300;

  --transpurple: #8000AF72;
  --transorange: #F6922072;
  --transred: #F0182472;
  --transmagneta: #F2158772;
  --transpink: #FFBBD872;
  --transgreen: #c1ea7672;
  --transblue: #72d2f872;

  --border-width: 2px;
  --border-style: outset;
  --rounded-borders: 30px;

  /*GENERAL TEXT OPTIONS*/
  /* font-family: 'LTWaveMono'; */
  font-family: 'LTWaveText';
  color: var(--purple);
}

html {
  margin: 0;
  padding: 0;
  gap: 0;
  height: 100%;
  background-color: var(--white);
  box-sizing: border-box;
}

body {
  color: var(--purple);
  background-color: var(--white);
  width: 100%;
  min-height: 100%;
  
  /* position: static; */

 margin: 0 auto;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 8vh auto auto auto 5vh;

  grid-template-areas:
    "header header header"
    "on-air center weather"
    "nav center chat"
    "nav center events"
    "footer footer footer";
  
  /*spaces in the layout*/
  padding: 10px 30px;
  gap: 10px;
}

#screen::before {
    width: 100%;
    height: 100%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }


/*HEADER STYLES*/
header {
  grid-area: header;

  color: var(--black);
  /* background: linear-gradient(to top, var(--cherry_blossom) 0%, var(--hotpink) 50%); */
  /* box-shadow: 0 0px 5px var(--); */

  background-color: var(--charcoal);

  border: 6px double var(--neon);
  border-radius: 50px;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  justify-content: start;
}

/*BLOCK*/
.block{
  width: auto;
  background-color: #8000af2d;
  border: 0.5rem double var(--purple);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


/*LEFT COLUMN STYLES*/
#on-air{
  grid-area: on-air;
  height: fit-content;
  color: var(--red);
  border-color: var(--red);
  background-color: var(--transred);
  padding-left: 10px;
}
#on-air h3{
  color:var(--neon)
}


/* nav */
#navbar{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* text-align: center; */
}
  
nav ul {
  list-style: disc inside;
  user-select: none;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
}

nav ul li {
  padding: 0px;
  color: var(--nav-text-color);
}

nav ul li a {
  color: var(--nav-text-color);
}

h3 {
  margin-top: 0px;
  color: var(--persimmon);
  margin-bottom: -5px;
  padding: 5px;
  font-family: 'LTWaveUI';
}

/* nav ul li:before {
  content: '';
}  */

nav > ul li > a,
nav > ul li > strong {
  text-decoration: none;
  }



/*CENTER COLUMN STYLES*/
#center {
  grid-area: center;
  display: flex;
  flex-direction: column;
}
.fake_player {
  background-color:var(--steel);
  border-radius: var(--rounded-borders);
  width: calc(100% - 20px);
  aspect-ratio: 3/1.5;
  margin: 10px;
}

/*RIGHT COLUMN STYLES*/
#weather{
  padding: 0;
  grid-area: weather;
  width: 100%;
  height: auto;
  border-radius: 30px;

}

#chat{
  grid-area: chat;
    width: 100%;
    height: fit-content;
    border-radius: 30px 30px 1px 30px;
    overflow: hidden;
  padding: 0;
}

#chattable {
  width: 100%;
  min-height: 300px;
}

#events {
  grid-area: events;
  height: 100%;

}

/*FOOTER STYLES*/
footer {
  grid-area: footer;
  /* background-color: var(--charcoal); */
  /* box-shadow: 0px 1px 3px rgba(233,77,71,0.5); */
  
  /* border: 2px solid var(--neon); */
  /* border-radius: var(--rounded-borders); */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding:0;
  gap: 20px;
}

.social {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_link{
    text-decoration: none;
    /* text-shadow: 0 1px 3px rgba(233,77,71,0.75); */
}

.social_tag{
    text-decoration: underline;
}

.social_icon {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    vertical-align: middle;
}

#telephone {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-left: auto; */
}

/*LINK STYLES */
 /* mouse over link  */
a {
  color: var(--neon)
}
a:hover {
color: magenta;
}

 /* selected link  */
a:active {
color: blue;
}

 /* unvisited link  */
/* a:link {
color: var(--neon);
} */
