@import url("../assets/style.css");

#under_construction_warning {
    height: fit-content;
    background-color: var(--lavender);

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#training_info {
    background-color: #a1f2de;
    padding: 10px;
    height: fit-content;
}

#chatbox{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

#chattable {
    display: flex;
    width: 100%;
    min-height: 300px;
}