/*STYLES FOR FOOTER*/

.footerdiv {
    height: fit-content;
    background-color: var(--cinnabar);
    color: var(--vanilla);

    display: flex;

    margin-top: 20px;

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.socials {
    flex: 50%;
    width: fit-content;
}

.contacts {
    flex: 50%;
    float: center;
    width: fit-content;
    height: fit-content;
}

#social {
    width: fit-content;
}

#social_link{
    color: var(--oxford);
    text-decoration: none;
}

#socials_icon {
    width: 15px;
    height: 15px;
}

#contact_link {
    color: var(--oxford);
    float: right;
    text-decoration: none;
    font-size: 28px;
}