/*STYLES FOR HEADER*/

.headerdiv{
    height: 100px;
    width: fit-content;
    margin: 0px;
}
  
.logodiv{
    display: flex;
    padding: 10px;
}
  
.homelink {
    text-decoration: none;
}
  
.titlediv{
    display: inline-block;
    margin-right: 0px;
    width: 50%;
    height: 100px; 
    color: var(--oxford);
}
  
#logo{
    display: inline-block;
    width: 60px !important;
    height: 60px;
    margin-right: 10px;
}
  
#title_heading{
    font-size: 19px;
    margin-bottom: 0px;
}
  
#subtitle_heading{
    font-size: 12px;
    margin-top: 0px;
}

@media ( max-width: 800px ) {
    .titlediv {
        display: none !important;
    }
}