/*STYLES FOR FOOTER*/

.footerdiv {
    display: flex;

    padding: 20px;
}

.socials {
    flex: 50%;
}

.contacts {
    flex: 50%;
    float: center;
    width: fit-content;
    height: fit-content;
}

#social {
    width: fit-content;
}

#social_link{
    color: var(--oxford);
    text-decoration: none;
}

#socials_icon {
    width: 15px;
    height: 15px;
}

#contact_link {
    color: var(--oxford);
    float: right;
    text-decoration: none;
    font-size: 28px;
}