/*STYLES FOR FOOTER*/

.footerdiv {
    display: flex;

    padding: 20px;
}

.socials {
    flex: 50%;
}

#social_link{
    text-decoration: none;
    color: var(--oxford);
}

#socials_icon {
    width: 15px;
    height: 15px;
}