/*
The styles used specifically for the left column. Be sure to ensure that 
background-color arguments are in the scope of page-specific CSS and not here;
this is the file to organize structural elements that should be considered
default across all instances of <nav-list>. And also link color. 
*/

/* Navlist CSS */
#leftDivStructure {
    display: grid;
    grid-template-rows: 100px 180px 1fr;
    width: 100%;
    padding: 0px;
    grid-template-areas: "logo-block"
                         "weather"
                         "nav";
}

#logo-block{
    grid-area: "logo-block";
}

#navdiv{
    grid-area: nav;
    align-items: center;
    height: 100%; 
    width: fit-content;
}
  
nav {
    font-size: 20px;
    display: flex;
}
  
nav li {
    list-style: none; 
    display: block; 
    margin: 0px;
    padding: 10px;
}

nav a {
    color: var(--savoryblue);
    text-decoration: none;
}

#weatherframe {
    grid-area: weather;
    height: 100%; margin: 5px; overflow: hidden;
}

#weather {
    width: 100%; scrollbar-width: 0px; height: 100%;
}


