/*
The styles used specifically for the left column. Be sure to ensure that 
background-color arguments are in the scope of page-specific CSS and not here;
this is the file to organize structural elements that should be considered
default across all instances of <nav-list>. And also link color. 
*/

/* Navlist CSS */
.navdiv{
    align-items: center;
    height: 100%; 
    width: fit-content;
}
  
.navbar{
    font-size: 20px;
    display: flex;
}
  
.navlist > li{
    list-style: none; 
    display: block; 
    margin: 0px;
    padding: 10px;
}

#nav_link {
    color: var(--vistablue);
    text-decoration: none;
}

.box {
    padding: 10px;
    background-color: --ultraviolet;
}
