/*STYLES FOR HEADER*/

.logo_blockdiv{
    height: 100px;
    margin: 0px;
    padding: 0px;

    color: var(--oxford);   
}
  
.logodiv{
    display: flex;
    height: 100px;
    margin: 0px;
    padding: 5px;
}
  
.titlediv{
    display: inline-block;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    height: fit-content; 
}
  
#logo{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
  
#title_heading{
    display: block;
    font-size: 19px;
    margin-bottom: 0px;
}
  
#subtitle_heading{
    display: block;
    font-size: 12px;
    margin-top: 0px;
}