/*STYLES FOR NAVBAR*/

.navdiv{
    align-items: center;
    height: 100%; 
    width: fit-content;
}
  
.navbar{
    font-size: 20px;
    display: flex;
}
  
.navlist > li{
    list-style: none; 
    display: block; 
    margin: 0px;
    padding: 10px;
}

#nav_link {
    color: var(--flax);
    text-decoration: none;
}

@media ( max-width: 800px ) {
    #nav_link {
        display: none;
    }
}