body {
    background-color:#F3F8F2;
    color: #161C20;
}

/* unvisited link */
a:link {
  color: #FF2D22;
}

/*Div styles*/
.headerdiv{
  width: fit-content;
  color: #4A96CD;
}

/*Link Styles */

/* visited link */
a:visited {
    color: #2E801F;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #FB6107;
}

/*navbar*/
.navbar{
  background: #6EFAB0; padding-right: 15px; padding-left: 15px;
}

.navdiv{
  display:flex; align-items: center; 

}
.logo a{
  font-size: 30px; font-weight:600;
}

.navlist > li{
  list-style: none; display: inline-block; margin: 7px;
}


.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}
