

:root {
  --pink: #F68FBB;
  --pink1:#F5ABCC;
  --pink2:#F3C6DC;
    --magenta: #E82B8D;
  --magenta1:#EA60A9;
  --magenta2:#EC94C5;
}

  *::selection {
    color: var(--pink);
    background-color: #F0FDFD;
    opacity: 1;
 }

/*font wouldn't work with relative path so I used catbox :3*/
  @font-face {
    font-family: 'LTWaveMono';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.catbox.moe/fc8h1i.otf') format('opentype');
 }


 body {
   background: transparent;
 }
 


  .allMessages {
    background-color: var(--pink1);
    border: 1px solid var(--pink);
    border-radius: 10px;
    font-family: 'LTWaveMono', sans-serif;
    margin: 10px 15px 10px 5px;
    line-height: 12px;
    position: relative;

    color: #F0FDFD;
 }

  .allMessages:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
 }
  /* .sent {
 }
  .recieved {
 } */

  #background {
    scrollbar-color: #F68FBBa0 #F0FDFD;
 }
  .msgBody {
    cursor: text;
 }

  #input {
    background-color: #F0FDFD;
    border-radius: 0;
    font-family: 'LTWaveMono', Tahoma, sans-serif;
    padding: 5px;
    width: calc(100% - 14px);
 }

  #input::placeholder {
    font-family: 'LTWaveMono', Tahoma, sans-serif;
 }

  /* #input:focus {
    outline: dotted 1px #EA60A9;
 } */

  a {
    font-family: inherit;
    color: inherit !important;
 }

  #timestamp {
    color: var(--pink);
    font-size: 10pt;
 }
  #top_banner {
    /* color: rgb(255, 255, 255);
    font-weight: bolder;
    background: rgb(0, 85, 234);
    border-radius: 2px 2px 0px 0px;
    box-shadow: rgb(43, 144, 255) 0px 2px 2px inset, rgb(51, 51, 51) 0px -1px 2px inset;
    font-family: 'LTWaveMono'; */
    display: none;
 }
  /* #top_banner:before {
    display: inline-block;
    width: 12pt;
    height: 12pt;
    content: ' ';
    background-image: url('https://xobyte.neocities.org/files/win-min.png');
    background-size: 100% 100%;
    margin-right: 5px;
 } */

  #settings {
    filter: invert(100%);
    opacity: 0.9;
 }

  #textInput {
      background-color: #F0FDFD;
    border-top: solid 3px var(--pink);
 }

  blockquote {
    border: 1px solid rgb(208, 208, 191);
    font-family: 'LTWaveMono', sans-serif;
    border-radius: 3px;
    line-height: 12px;
    position: relative;
 }

 .mod, .owner {
   background-color: transparent;
   background-image: url('/media/crown.png');
   background-size: 100% 100%;
   border-radius: 0;
 }
 .owner {
    filter: hue-rotate(-60deg);
 }
 .mod {
    filter: hue-rotate(-180deg);
 }
 #emojiTray {
   background-color: #F0FDFD;
   color: var(--pink);
 }
 #settingsMenu {
   padding: 0;
   width: 100%;
 }
 #settingsMenu p {
   padding: 3px 10px 3px 10px;
 }

 #settingsMenu h2 {
   margin: 0;
   color: rgb(255, 255, 255);
   font-weight: bolder;
   background: var(--pink);
   border-radius: 2px 2px 0px 0px;
   /* box-shadow: #E82B8D 0px 2px 2px inset, rgb(51, 51, 51) 0px -1px 2px inset; */
   font-family: 'LTWaveMono';
 }
 #save {
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #111;
   padding: 3px 6px 3px 6px;
   font-size: 10pt;
   font-family: 'LTWaveMono', Helvetica;
   position: relative;
   border: outset 2px #6982EE;
   border-radius: 3px;
   text-transform: uppercase;
   cursor: pointer;
 }
 #save:hover::after {
   content: " ";
   display: block;
   width: 95%;
   height: 80%;
   border: dotted 1px #000;
   position: absolute;
   left: 2%;
   top: 10%;
   border-radius: 6px;
 }
 #save:hover {
   border-color: #C50;
 }
 
 #is_typing {
   display: hidden;
   /* background-color: transparent;
   border-radius: 0;
   overflow: visible;
   width: auto; */
 }
 /* #is_typing:before {
   font-family: MS Gothic, 'LTWaveMono', monospace;
   content: "Typing";
   font-size: 8pt;
 } */
 /* #is_typing > span {
    background-color: #000;
    height: 2px;
    width: 2px;
    border-radius: 0;
 } */