/*GLOBAL CSS STYLES, USED ACROSS THE ENTIRE WEBSITE*/
/*FOR ALL PAGE-LOCAL CSS EDIT IN PAGE FOLDER*/

@font-face {
  font-family: 'Cooper';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/COOPBL.woff');
}

:root {
  --cinerous: #958487;
  --oxford: #020122;
  --cinnabar: #F4442E;
  --sandy: #FC9E4F;
  --flax: #EDD382;
  --vanilla: #F2F3AE;

  background-color: var(--vanilla);
  font-family: 'Cooper';
  color: var(--oxford);
}

/*structural elements*/
.body_div {
  margin: 0;
}

.columns_container {
  height: fit-content;
  display: flex;
  margin: 0;
}

.column_left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--cinnabar); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px;
}

.column_center {
  margin-left: 180px; /* Same as the width of the sidebar */
  width: 80%;
  padding: 0px 10px;
}

.column_right {
  flex-direction: column;
  width: 20%;
  height: 1000px;
  display: inline-block;
  margin: 0;
  background-color: var(--cinerous);
}

/*MOBILE LAYOUT CHANGES*/

@media ( max-width: 800px ) {
  .column_left {
    width: 80px;
  }
  .column_center {
    width: 80%;
    margin-left: 80px;
  }

  .column_right {
    display: none;
  }
}

/*STYLES FOR HEADER*//*//////////////////////////////////////////////////////*/

.headerdiv{
  height: 100px;
  width: fit-content;
  margin: 0px;
}

.logodiv{
  display: flex;
  padding: 10px;
}

.homelink {
  text-decoration: none;
}

.titlediv{
  display: inline-block;
  margin-right: 0px;
  width: 50%;
  height: 100px; 
  color: var(--oxford);
}

#logo{
  display: inline-block;
  width: 60px !important;
  height: 60px;
  margin-right: 10px;
}

#title_heading{
  font-size: 19px;
  margin-bottom: 0px;
}

#subtitle_heading{
  font-size: 12px;
  margin-top: 0px;
}

@media ( max-width: 800px ) {
  .titlediv {
      display: none !important;
  }
}

/*STYLES FOR NAVBAR*//*//////////////////////////////////////////////////////*/

.navdiv{
  align-items: center;
  height: 100%; 
  width: fit-content;
}

.navbar{
  font-size: 20px;
  display: flex;
}

.navlist > li{
  list-style: none; 
  display: block; 
  margin: 0px;
  padding: 10px;
}

#nav_link {
  color: var(--flax);
  text-decoration: none;
}

@media ( max-width: 800px ) {
  #nav_link {
      display: none;
  }
}

/*STYLES FOR FOOTER*//*//////////////////////////////////////////////////////*/

.footerdiv {
  height: fit-content;
  background-color: var(--cinnabar);
  color: var(--vanilla);

  display: flex;

  margin-top: 20px;

  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.socials {
  flex: 50%;
  display: inline-block;
  width: fit-content;
  background-color: red;
}

.contacts {
  flex: 50%;
  display: inline-block;
  width: fit-content;
  height: 37;
  font-size: 18;
  background-color: green;
}

#social {
  display: none;
}

#social_link{
  color: var(--oxford);
  text-decoration: none;
}

#socials_icon {
  width: 15px;
  height: 15px;
}

#contact_link {
  color: var(--oxford);
}
