/*GLOBAL CSS STYLES, USED ACROSS THE ENTIRE WEBSITE*/
/*FOR ALL PAGE-LOCAL CSS EDIT IN PAGE FOLDER*/
/*FOR ALL COMPONENT-LOCAL CSS EDIT IN 
COMPONENT FOLDER - THIS MEANS HEADER, FOOTER, NAV*/

@import url("../components/header.css");
@import url("../components/footer.css");
@import url("../components/navbar.css");

@font-face {
  font-family: 'Cooper';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/COOPBL.woff');
}

:root {
  --cinerous: #958487;
  --oxford: #020122;
  --cinnabar: #F4442E;
  --sandy: #FC9E4F;
  --flax: #EDD382;
  --vanilla: #F2F3AE;

  background-color: var(--vanilla);
  font-family: 'Cooper';
  color: var(--oxford);
}

/*structural elements*/
.body_div {
  margin: 0;
}

.columns_container {
  height: fit-content;
  display: flex;
  margin: 0;
}

.column_left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px;

  background-color: var(--cinnabar);
}

.column_center {
  margin-left: 180px; /* Same as the width of the sidebar */
  width: 80%;
  padding: 0px 10px;
}

.column_right {
  width: 20%;
  height: 1175px;
  display: inline-block;

  background-color: var(--cinerous);
}

/*MOBILE LAYOUT CHANGES*/

@media ( max-width: 800px ) {
  .column_left {
    width: 80px;
  }
  .column_center {
    width: 80%;
    margin-left: 80px;
  }

  .column_right {
    display: none;
  }
}

/*Link Styles */

/* visited link */
a:visited {
  color: var(--cinerous);
}

/* mouse over link */
a:hover {
  color: var(--oxford);
}

/* selected link */
a:active {
  color: var(--cinerous);
}
