@import url("../assets/style.css");

#sports-stream-box {
    right: 0;
    bottom: 0;
    width: 90%;
    height: fit-content;
    color: #fff;
    background: var(--savoryblue);
    border: 2px solid var(--ultraviolet);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
    }
    #sports-stream-box a {
      color: #fff;
    }

dt {
    font-family: 'cmu_concretebold';
    padding: 10px
}
